@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

ul, li{
    text-decoration: none;
    list-style: none;
}

main {
    color: white;
}

header{
    text-align: center;
}

.wrapper {
    background-image: url('background.jpeg');
    background-size: cover;
    height: 100vh;
}

.container{
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.logo {
    width: 190px;
    left: 50%;
    height: 44px;
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
}

.logo-wrapper ul {
    display: flex;
}

.logo-wrapper li{
    padding: 8px;
}
.logo-wrapper li>a{
    color: #fff;
    text-decoration: none;
}
.text-wrapper{
    padding-top: 100px;
    text-align: center;
}

.btn{
    color: #fff;
    padding: 18px 40px;
    border-radius: 110px;
    font-weight: 600;
    background: #000;
}